## The Goal of Collecting this Dataset

The IBM HR Analytics Employee Attrition dataset was collected to analyze employee attrition (whether employees leave the company) based on various factors such as age, salary, job role, and work-life balance. The primary goal is to predict whether an employee is likely to leave the company and identify the key factors influencing this decision.

## Source of the Dataset

The dataset was obtained from Kaggle. You can find the dataset at the following link:

[IBM HR Analytics Employee Attrition Dataset on Kaggle](https://www.kaggle.com/datasets/pavansubhasht/ibm-hr-analytics-attrition-dataset)

## General Information about the Dataset

- **Number of Attributes (Columns)**: 35 attributes
- **Number of Objects (Rows)**: 1470 records
- **Class Name/Label**: Attrition (Yes/No)

   
  ## Types of Attributes

| Numerical Attributes       | Categorical Attributes  |
|----------------------------|-------------------------|
| Age                        | Attrition               |
| DailyRate                  | BusinessTravel          |
| DistanceFromHome           | Department              |
| Education                  | EducationField          |
| EmployeeCount              | Gender                  |
| EmployeeNumber             | JobRole                 |
| EnvironmentSatisfaction     | MaritalStatus           |
| HourlyRate                 | Over18                  |
| JobInvolvement             | OverTime                |
| JobLevel                   |                         |
| JobSatisfaction            |                         |
| MonthlyIncome              |                         |
| MonthlyRate                |                         |
| NumCompaniesWorked         |                         |
| PercentSalaryHike          |                         |
| PerformanceRating          |                         |
| RelationshipSatisfaction   |                         |
| StandardHours              |                         |
| StockOptionLevel           |                         |
| TotalWorkingYears          |                         |
| TrainingTimesLastYear      |                         |
| WorkLifeBalance            |                         |
| YearsAtCompany             |                         |
| YearsInCurrentRole         |                         |
| YearsSinceLastPromotion    |                         |
| YearsWithCurrManager       |                         |

In [6]:

import pandas as pd

# Load the dataset
df = pd.read_csv('Dataset/Dataset_HR_Employee-Attrition.csv')

# Display the first 5 rows of the dataset
print(df.head())

# Display the number of rows and columns
print(f"Number of Rows: {df.shape[0]}")
print(f"Number of Columns: {df.shape[1]}")

# Display information about the columns and their data types
print(df.info())

   Age Attrition     BusinessTravel  DailyRate              Department  \
0   41       Yes      Travel_Rarely       1102                   Sales
1   49        No  Travel_Frequently        279  Research & Development
2   37       Yes      Travel_Rarely       1373  Research & Development
3   33        No  Travel_Frequently       1392  Research & Development
4   27        No      Travel_Rarely        591  Research & Development

   DistanceFromHome  Education EducationField  EmployeeCount  EmployeeNumber  \
0                 1          2  Life Sciences              1               1
1                 8          1  Life Sciences              1               2
2                 2          2          Other              1               4
3                 3          4  Life Sciences              1               5
4                 2          1        Medical              1               7

   ...  RelationshipSatisfaction StandardHours  StockOptionLevel  \
0  ...                         1            80                 0
1  ...                         4            80                 1
2  ...                         2            80                 0
3  ...                         3            80                 0
4  ...                         4            80                 1

   TotalWorkingYears  TrainingTimesLastYear WorkLifeBalance  YearsAtCompany  \
0                  8                      0               1               6
1                 10                      3               3              10
2                  7                      3               3               0
3                  8                      3               3               8
4                  6                      3               3               2

  YearsInCurrentRole  YearsSinceLastPromotion  YearsWithCurrManager
0                  4                        0                     5
1                  7                        1                     7
2                  0                        0                     0
3                  7                        3                     0
4                  2                        2                     2

[5 rows x 35 columns]
Number of Rows: 1470
Number of Columns: 35
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 35 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Age                       1470 non-null   int64
 1   Attrition                 1470 non-null   object
 2   BusinessTravel            1470 non-null   object
 3   DailyRate                 1470 non-null   int64
 4   Department                1470 non-null   object
 5   DistanceFromHome          1470 non-null   int64
 6   Education                 1470 non-null   int64
 7   EducationField            1470 non-null   object
 8   EmployeeCount             1470 non-null   int64
 9   EmployeeNumber            1470 non-null   int64
 10  EnvironmentSatisfaction   1470 non-null   int64
 11  Gender                    1470 non-null   object
 12  HourlyRate                1470 non-null   int64
 13  JobInvolvement            1470 non-null   int64
 14  JobLevel                  1470 non-null   int64
 15  JobRole                   1470 non-null   object
 16  JobSatisfaction           1470 non-null   int64
 17  MaritalStatus             1470 non-null   object
 18  MonthlyIncome             1470 non-null   int64
 19  MonthlyRate               1470 non-null   int64
 20  NumCompaniesWorked        1470 non-null   int64
 21  Over18                    1470 non-null   object
 22  OverTime                  1470 non-null   object
 23  PercentSalaryHike         1470 non-null   int64
 24  PerformanceRating         1470 non-null   int64
 25  RelationshipSatisfaction  1470 non-null   int64
 26  StandardHours             1470 non-null   int64
 27  StockOptionLevel          1470 non-null   int64
 28  TotalWorkingYears         1470 non-null   int64
 29  TrainingTimesLastYear     1470 non-null   int64
 30  WorkLifeBalance           1470 non-null   int64
 31  YearsAtCompany            1470 non-null   int64
 32  YearsInCurrentRole        1470 non-null   int64
 33  YearsSinceLastPromotion   1470 non-null   int64
 34  YearsWithCurrManager      1470 non-null   int64
dtypes: int64(26), object(9)
memory usage: 402.1+ KB
None

### Phase 2: Data Summarization and Preprocessing

1. Taking a Sample of the Dataset

We'll take a random sample of 20 employees from the dataset using the sample() function. This will help us analyze a small subset of the data.

In [4]:
import pandas as pd

# Load the dataset
df = pd.read_csv('Dataset/Dataset_HR_Employee-Attrition.csv')

# Set seed for reproducibility
import numpy as np
np.random.seed(30)

# Take a sample of 20 rows from the dataset
sample = df.sample(n=20)
print(sample)

      Age Attrition     BusinessTravel  DailyRate              Department  \
461    35        No      Travel_Rarely        195                   Sales
640    24        No         Non-Travel       1269  Research & Development
509    33        No  Travel_Frequently       1296  Research & Development
788    28        No      Travel_Rarely        857  Research & Development
950    31        No         Non-Travel        587                   Sales
1127   23        No      Travel_Rarely        977  Research & Development
706    40       Yes         Non-Travel       1479                   Sales
645    29       Yes      Travel_Rarely        341                   Sales
414    24       Yes      Travel_Rarely       1448                   Sales
547    42       Yes  Travel_Frequently        933  Research & Development
1173   36        No      Travel_Rarely        711  Research & Development
880    32        No  Travel_Frequently        116  Research & Development
598    28       Yes      Travel_Rarely        890  Research & Development
994    52        No  Travel_Frequently        322  Research & Development
1278   36        No      Travel_Rarely       1383  Research & Development
188    34        No  Travel_Frequently       1069  Research & Development
85     56        No      Travel_Rarely       1400  Research & Development
184    53        No      Travel_Rarely       1084  Research & Development
1117   34        No      Travel_Rarely       1351  Research & Development
436    33       Yes      Travel_Rarely        587  Research & Development

      DistanceFromHome  Education    EducationField  EmployeeCount  \
461                  1          3           Medical              1
640                  4          1     Life Sciences              1
509                  6          3     Life Sciences              1
788                 10          3             Other              1
950                  2          4     Life Sciences              1
1127                10          3  Technical Degree              1
706                 24          3     Life Sciences              1
645                  1          3           Medical              1
414                  1          1  Technical Degree              1
547                 19          3           Medical              1
1173                 5          4     Life Sciences              1
880                 13          3             Other              1
598                  2          4           Medical              1
994                 28          2           Medical              1
1278                10          3     Life Sciences              1
188                  2          1     Life Sciences              1
85                   7          3     Life Sciences              1
184                 13          2           Medical              1
1117                 1          4     Life Sciences              1
436                 10          1           Medical              1

      EmployeeNumber  ...  RelationshipSatisfaction StandardHours  \
461              620  ...                         4            80
640              888  ...                         4            80
509              692  ...                         3            80
788             1097  ...                         4            80
950             1324  ...                         1            80
1127            1592  ...                         4            80
706              986  ...                         4            80
645              896  ...                         3            80
414              554  ...                         2            80
547              752  ...                         4            80
1173            1651  ...                         3            80
880             1234  ...                         3            80
598              828  ...                         4            80
994             1401  ...                         2            80
1278            1790  ...                         4            80
188              256  ...                         3            80
85               112  ...                         1            80
184              250  ...                         3            80
1117            1580  ...                         2            80
436              584  ...                         1            80

      StockOptionLevel  TotalWorkingYears  TrainingTimesLastYear  \
461                  0                  5                      3
640                  0                  6                      2
509                  1                 15                      2
788                  0                 10                      4
950                  1                 10                      5
1127                 1                  4                      2
706                  0                 22                      2
645                  3                  5                      3
414                  0                  6                      4
547                  0                  7                      2
1173                 2                  9                      6
880                  1                  2                      2
598                  0                  5                      3
994                  1                 24                      3
1278                 1                 15                      1
188                  0                 10                      2
85                   0                 37                      3
184                  2                  5                      3
1117                 1                  9                      3
436                  3                  8                      2

     WorkLifeBalance  YearsAtCompany YearsInCurrentRole  \
461                3               5                  4
640                2               5                  2
509                1              13                 11
788                4               8                  7
950                2              10                  8
1127               3               2                  2
706                2               1                  0
645                3               3                  2
414                3               5                  3
547                3               2                  2
1173               3               3                  2
880                3               2                  2
598                2               2                  2
994                2               5                  3
1278               3              12                  8
188                2              10                  9
85                 2               6                  4
184                3               4                  2
1117               2               2                  2
436                3               4                  3

      YearsSinceLastPromotion  YearsWithCurrManager
461                         0                     3
640                         3                     4
509                         4                     7
788                         1                     7
950                         9                     6
1127                        2                     2
706                         0                     0
645                         0                     2
414                         1                     4
547                         2                     2
1173                        0                     2
880                         2                     2
598                         2                     1
994                         0                     2
1278                        5                     7
188                         1                     9
85                          0                     2
184                         1                     3
1117                        2                     1
436                         1                     3

[20 rows x 35 columns]

2. Checking for Missing Values

We will check if there are any missing (null) values in the dataset. Missing values can impact our analysis and might require handling.

In [5]:
# Check for missing values in the dataset
missing_values = df.isnull().sum()
print("Missing Values in each column:")
print(missing_values)

# Check if there are any missing values in total
print("Total Missing Values:", missing_values.sum())

Missing Values in each column:
Age                         0
Attrition                   0
BusinessTravel              0
DailyRate                   0
Department                  0
DistanceFromHome            0
Education                   0
EducationField              0
EmployeeCount               0
EmployeeNumber              0
EnvironmentSatisfaction     0
Gender                      0
HourlyRate                  0
JobInvolvement              0
JobLevel                    0
JobRole                     0
JobSatisfaction             0
MaritalStatus               0
MonthlyIncome               0
MonthlyRate                 0
NumCompaniesWorked          0
Over18                      0
OverTime                    0
PercentSalaryHike           0
PerformanceRating           0
RelationshipSatisfaction    0
StandardHours               0
StockOptionLevel            0
TotalWorkingYears           0
TrainingTimesLastYear       0
WorkLifeBalance             0
YearsAtCompany              0
YearsInCurrentRole          0
YearsSinceLastPromotion     0
YearsWithCurrManager        0
dtype: int64
Total Missing Values: 0

We can see that in our dataset, there are no null values. This means that all columns have complete data without any missing entries, which ensures that we can proceed with analysis without the need for handling missing data.